<div class="card border-dark mb-3" style="max-width: 40rem;">

    <div class="card-header">
        <h2>Log in</h2>
    </div>
    
    <div class=" card-body text-dark ">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-group mb-3">
            <%= f.label :email, class: "form-field" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password, class: "form-field"  %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="col-12 mb-3">
              <%= f.check_box :remember_me, class: ""  %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>

          <div class="justify-content-center align-items-center d-flex  ">
            <%= button_tag :submit , class: "btn-lg btn-success  " do %>
              <i class="fas fa-sign-in-alt  ">  Log in</i>
            <% end %>
          </div>
        <% end %>    
    
    
    </div>

        <%= render "devise/shared/links" %>

    <div class="card-footer ">
        ....
    </div>


</div>