
<% if @post.image.attached? %>
  <image src="<%= url_for(@post.image) %> " width="600" height="auto" >
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<div id="comment_pane">
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>

|
<%= link_to 'Back', posts_path %>


<% if current_user %>
  
  <%= link_to 'Edit', edit_post_path(@post) %> 

  <%= form_with model: [@post, @comment], local: true  do |f| %>
    <%= f.text_field :body %>
    <%= f.submit "Commenter" %>
  <% end %>

<% else %>

  <p>
    Tu dois être connecter pour laisser un commentaire ( <%= link_to "login", new_user_session_path %> )
  </p>

<% end %>






