
<div class="mb-3">
  <% if @post.image.attached? %>
    <image src="<%= url_for(@post.image) %> " width="500" height="auto" >
  <% end %>
</div>

<div class="mb-3" >
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %> |
    <%= link_to 'Back', root_path, class: "btn btn-default" %>
</div>


<div class="card mb-3">

  <div class="card-header" >
    <h5> <%= @post.title %> </h5>  
  </div>

  <div class="card-body justifier_body" >
    <%= @post.body %>
  </div>

</div>

<div id="comment_pane">
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>


  <% if current_user %>

    <%= form_with model: [@post, @comment], local: true  do |f| %>
    
      <div class="justifier_body form-group">

        <% if current_user.avatar.attached? %>
          <image src="<%= url_for(current_user.avatar) %> " width="50" height="auto" class="img_avatar_rounded" >  
        <% end %>    

        <%= f.text_field :body, class: "mt-5", style: "width: 50%", placeholder: "commenter..." %>

        <%= f.submit "OK" , class: "btn btn-success" %>

      </div>

    <% end %> 

  <% else %>

    <div>
      Tu dois être connecter pour laisser un commentaire ( <%= link_to "login", new_user_session_path, class: "btn btn-success" %> )
    </div>

  <% end %>










