<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">


    <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fas fa-home"></i>
    <% end %>


    <%= link_to "Tableau de bord", dashboard_index_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">

      <ul class="navbar-nav ">


        <li class="nav-item">
          <%= link_to "Membre", pages_membre_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Statistique", "#" , class: "nav-link" %>
        </li>




      </ul>
    </div>

    <div class=" navbar-nav collapse navbar-collapse justify-content-end" id="navbarNav">
    
        <% if current_user %>
          
          <ul class="navbar-nav">
              <li class="nav-item nav-link text-danger " > (<%= current_user.username %>) </li>          
          </ul>

          <ul class="navbar-nav ">
              <li class="nav-item">                
                <%= link_to  destroy_user_session_path, method: :delete, class: "nav-link" do %>
                    <i class="fas fa-sign-out-alt"></i> 
                <% end %>
              </li>
          </ul>

        <% else %>

          <ul class="navbar-nav " >
              <li class="nav-item" >
                  <%= link_to new_user_registration_path, class: "nav-link" do %>
                      <i class="fas fa-user-plus"></i>
                  <% end %>
              </li>
          </ul>
          <ul class="navbar-nav " >
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                    <i class="fas fa-sign-in-alt"></i>
                <% end %>
              </li>
          </ul>
        <% end %>
    </div>

  </div>
</nav>