<% if current_user %>  
  

  <div class="mb-3 d-flex align-items-center justify-content-center ">
      <%= link_to "Editer compte", edit_user_registration_path(current_user) , class: "btn btn-primary   "%>
  </div>

  <div class="mb-3 d-flex align-items-center justify-content-center rounded-circle ">
    <%= image_tag(current_user.avatar_thumbnail, class: "rounded-circle shadow-sm  ")%>
  </div>

  <div class=" d-flex align-items-center justify-content-center  ">

   <div class="card-body shadow-sm p-3 mb-1 bg-white rounded ">

      <div class="card-text" >
        Pseudo : <%= current_user.username ? current_user.username : "vide" %>
      </div>

      <div class="card-text" >
        Nom: <%= current_user.first_name ? current_user.first_name : "vide" %>
      </div>

      <div class="card-text" >
        Prenom: <%= current_user.last_name ? current_user.last_name : "vide" %>
      </div>

      <div class="card-text" >
        Lieu: <%= current_user.location ? current_user.location : "vide" %>
      </div>

      <div class="card-text" >
        Role: <%= current_user.role ? current_user.role : "vide" %>
      </div>


      <p class="card-text" >
        Email: <%= current_user.email %>
      </p>

   </div>

  </div>


<% elsif @users %>

  <div class="card shadow-lg p-3 mb-5 bg-white rounded ">

      <div class="card-header border border-4 ">

          <p>T'es pas connecté!</p>      
          <h5 class="card-title" >Les Utulisateurs recents</h5>
          <%= " Nb total d'abonnée : " + @users.count.to_s %>  
      
      </div>

      <div class="card-body border border-warning ">

          <% @users.each do |u| %>

            <div class="card-text" >       
              <% if u.avatar.attached? %>
                <image src="<%= url_for(u.avatar) %> " width="50" height="auto" class="img_avatar_rounded" > <%= u.username  %> 
              <% end %>    
            </div>

          <% end %>   
      
      </div>

  </div>


<% end %>